run = "npm run dev"
hidden = [".build", ".config"]

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = false

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
install = ["sh", "-c", "npm install"]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]
ignorePorts = false
deploymentTarget = "gce"
